body, html, main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden; /* Отключаем прокрутку страницы */
    //background-color: pink;
}

$black-color: #0C0C0C;

.weather {
    &__wrapper{
        min-width: 100vw;
        min-height: 100vh;
    }

    &__statusbar {
        color: $black-color;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__time {
        margin-top: 50px;
        font-size: 20px;
    }

    &__city {
        font-size: 50px;
        font-weight: 700;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: '';
            display: block;
            height: 30px;
            background: no-repeat url("../../gps.svg");
            width: 30px;
            margin-left: 5px;
        }
    }

    &__state {
        font-size: 25px;
    }
    &__temperature {
        position: relative;
        margin-bottom: 5px;
        font-size: 140px;
        font-weight: 500;
        &::after {
            content: '°C';
            position: absolute;
            font-weight: 500;
            font-size: 25px;
            top: 18px;
            margin-left: -5px;
            
        }
        &::before {
            content: '-';
            position: absolute;
            font-weight: 500;
            font-size: 140px;
            margin-left: -50px;
            margin-top: -8px;
        }
    }
    &__carousel {
        width: 30%;
        display: flex;
        align-items: center;
        background-color: $black-color;
        &-item {
            text-align: center;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            &__time {
                color: white;
                font-weight: 500;
                font-size: 10px;
                margin-bottom: 6px;
            }
            &__ico {
                margin-bottom: 5px;
                height: 30px;
                width: 30px;
            }
            &__temperature {
                color: white;
                font-size: 20px;
                &::after {
                    content: '°C';
                    position: absolute;
                    font-weight: 500;
                    font-size: 7px;
                    margin-top: 2px;
                    margin-left: 1px;
                }
                &::before {
                    content: '-';
                    position: absolute;
                    font-weight: 500;
                    font-size: 10px;
                    margin-top: 5px;
                    margin-left: -5px;
                    
                }
            }
        }
    }
}

.forecast {
    background-color: $black-color;
    padding: 6px 25px;
    padding-bottom: 1px;
    font-size: 15px;
    font-weight: 500;
    width: 70%;
    &__header {
        margin-top: 5px;
        display: flex;
        &-text {
            margin-left: 5px;
            color: #505050;
        }
    }
    &__list {
        color: white;
        list-style: none;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        &-item {
            border-top: 1px white solid;
            //line-height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
    &__date{
        margin-right: 100px;
        min-width: 33px;
        max-width: 33px;
        font-size: 17px;
    }
    &__state {
        font-size: 17px;
        flex: 1;
        text-align: left;
        display: flex;
        align-items: center;
        &::before {
            content: '';
            width: 30px;
            height: 30px;
            background: no-repeat url('../../wind.svg');
            display: block;
        }
    }
    &__temperatures{
        font-size: 17px;
        display: flex;
        font-weight: 300;
        
    }
    &__day {
        font-size: 17px;
        padding-right: 12px;
        border-right: 1px solid white;
        &::after {
            content: '°C';
            position: absolute;
            font-weight: 500;
            font-size: 7px;
            margin-top: 2px;
            margin-left: 1px;
        }
        &::before {
            content: '-';
            position: absolute;
            font-weight: 500;
            font-size: 10px;
            margin-top: 5px;
            margin-left: -5px;
            
        }

    }
    &__night {
        font-size: 17px;
        margin-left: 8px;
        padding-right: 8px;
        color: #b9b9b9;
        &::after {
            content: '°C';
            position: absolute;
            font-weight: 500;
            font-size: 7px;
            margin-top: 2px;
            margin-left: 1px;
        }
        &::before {
            content: '-';
            position: absolute;
            font-weight: 500;
            font-size: 10px;
            margin-top: 5px;
            margin-left: -5px;
            
        }
    }
}

.forecasts {
    margin-top: 20px;
    box-shadow: 6px 24px 12.1px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
}
.monitoring__wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

@media (max-width: 450px) {
    .forecast {
        padding: 5px;
        &__date {
            margin-right: 10px;
        }
    }
    
}
.background__img {
    width: 600px;
    height: 400px;
    position: absolute;
    fill: rgba(211, 211, 211, 0.35);
    filter: drop-shadow(19px 17px 14.6px rgba(0, 0, 0, 0.25));
    z-index: -100;
    &:nth-child(1){
        top: -160px;
        left: 600px;
    }
    &:nth-child(2){
        top: 100px;
        left: 900px;
    }
    &:nth-child(3){
        left: 1400px;
    }
}

@media (max-width: 1440px) {
    .background__img {
        width: 500px;
        height: 350px;
        &:nth-child(1){
            top: -100px;
            left: 200px;
        }
        &:nth-child(2){
            top: 20px;
            left: 700px;
        }
        &:nth-child(3){
            top: 90px;
            left: 0;
        }
    }
}

@media (max-width: 1024px) {
    .background__img {
        width: 400px;
        height: 300px;
        &:nth-child(1){
            top: -70px;
            left: 170px;
        }
        &:nth-child(2){
            top: 120px;
            left: 100px;
        }
        &:nth-child(3){
            top: 0px;
            left: 470px;
        }
    }
}

@media (max-width: 768px) {
    .background__img {
        width: 400px;
        height: 300px;
        &:nth-child(1){
            top: -70px;
            left: 70px;
        }
        &:nth-child(2){
            top: 120px;
            left: 0px;
        }
        &:nth-child(3){
            top: 0px;
            left: 380px;
        }
    }
}

@media (max-width: 425px) {
    .background__img {
        width: 200px;
        height: 200px;
        &:nth-child(1){
            top: 200px;
            left: 0px;
        }
        &:nth-child(2){
            top: 0px;
            left: -10px;
        }
        &:nth-child(3){
            top: 125px;
            left: 200px;
        }
    }
}