body, html, main {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden; /* Отключаем прокрутку страницы */
    //background-color: pink;
}

$black-color: #0C0C0C;

.weather {
    &__wrapper{
        min-width: 100vw;
        min-height: 100vh;
    }

    &__statusbar {
        color: $black-color;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__time {
        margin-top: 50px;
        font-size: 20px;
    }

    &__city {
        font-size: 50px;
        font-weight: 700;
        &::after {
            content: '';
            display: block;
            background: no-repeat url("../gps.svg");
        }
    }

    &__state {
        font-size: 25px;
    }
    &__temperature {
        position: relative;
        margin-bottom: 5px;
        font-size: 140px;
        font-weight: 500;
        &::after {
            content: '°C';
            position: absolute;
            font-weight: 500;
            font-size: 25px;
            top: 18px;
            margin-left: -5px;
            
        }
        &::before {
            content: '-';
            position: absolute;
            font-weight: 500;
            font-size: 140px;
            margin-left: -50px;
            margin-top: -8px;
        }
    }
    &__carousel {
        width: 30%;
        display: flex;
        align-items: center;
        background-color: $black-color;
        &-item {
            text-align: center;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            &__time {
                color: white;
                font-weight: 500;
                font-size: 10px;
                margin-bottom: 6px;
            }
            &__ico {
                margin-bottom: 5px;
                height: 30px;
                width: 30px;
            }
            &__temperature {
                color: white;
                font-size: 20px;
                &::after {

                    content: '°C';
                    position: absolute;
                    font-weight: 500;
                    font-size: 7px;
                    margin-top: 2px;
                    margin-left: 1px;
                    
                }
                &::before {
                    content: '-';
                    position: absolute;
                    font-weight: 500;
                    font-size: 10px;
                    margin-top: 5px;
                    margin-left: -5px;
                    
                }
            }
        }
    }
}

.forecast {
    background-color: $black-color;
    padding: 6px 25px;
    padding-bottom: 1px;
    font-size: 15px;
    font-weight: 500;
    width: 70%;
    &__header {
        margin-top: 5px;
        display: flex;
        &-text {
            margin-left: 5px;
            color: #505050;
        }
    }
    &__list {
        color: white;
        list-style: none;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        &-item {
            border-top: 1px white solid;
            line-height: 30px;
        }
    }
}

.forecasts {
    margin-top: 70px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
}
.monitoring__wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

#stopA {
    stop-color: blue;
}